body{
    background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
    font-family: Inter, sans-serif, Arial;
}

/* Header */

header {
    text-align: center;
  }
  
header div {
  display: inline-block; 
}

header h1 {
  font-size: 3.8em;
  display: inline-block; 
  white-space: nowrap; 
  margin: 0; 
  border: 5px solid black;
  box-shadow: 1px 1px 5px black,
  -1px -1px 5px black;
  text-shadow: 1px 1px 1px black,
  -1px -1px 1px black;
  padding: 15px;
  color: hsl(0, 0%, 85%);
  font-weight: bold;
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  transition: color ease 0.5s;
}

header h1:hover{
    color: white;
}

/* Input Tasks */


#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 35px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black, -2px -2px 5px black;
    width: 80%;
}

.newTask{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

label{
    font-size: 2em;
    margin-right: 2px;
    color:white;
    padding: 15px;
}
input{
    font-size: 1.6em;
    border:none;
    border-radius: 8px;
}

.tasksCounter{
    margin-left: 35px;
    color: white;
    font-size: 1.4em;
}

/* Tasks */

.singleTaskContainer{
    border: 2px solid black;
    box-shadow: 1px 1px 4px black,
    -1px -1px 4px black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 20px; 
}

.task{
    font-size: 2em;
    color: white;
    font-weight: bold;
}

.taskOperators{
    background-color: hsl(286, 84%, 25%);
    width: 110px;
    height: 40px;
    border: 2px solid black;
    margin-left: 6px;
    border-radius: 15px;
    font-size: 1.3em;
    cursor: pointer;
    text-align: center;
}

.deleteButton{
    color: hsl(0, 70%, 58%);
    transition: color ease 0.5s,
    border;
}

.deleteButton:hover{
    color: red;
    border: 4px solid black;
    
}

.completeButton{
    color: hsl(180, 66%, 66%);
    transition: color ease 0.5s,
    border;
}

.completeButton:hover{
    color: hsl(180, 66%, 86%);
    border: 4px solid black;
}

.taskOperatorsContainer{
    margin-left: 30px;
}

.taskIndex{
    color:aliceblue
}










